{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--업무영역 필드-->
      <app-nz-input-text #title
        [parentFormGroup]="fg" formControlName="domain" [fieldName]="'domain'"
        [itemId]="'domain'"
        placeholder="업무영역을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">업무영역
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <!--용어 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="term" [fieldName]="'term'"
        [itemId]="'term'"
        placeholder="용어를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">용어
      </app-nz-input-text>
    </div>
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--한글명 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="nameKor" [fieldName]="'nameKor'"
        [itemId]="'nameKor'"
        placeholder="한글명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">한글명
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <!--한글약어 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="abbreviationKor" [fieldName]="'abbreviationKor'"
        [itemId]="'abbreviationKor'"
        placeholder="한글 약어를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">한글약어
      </app-nz-input-text>
    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--영어명 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="nameEng" [fieldName]="'nameEng'"
        [itemId]="'nameEng'"
        placeholder="영어명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">영어명
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <!--영어명 필드-->
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="abbreviationEng" [fieldName]="'abbreviationEng'"
        [itemId]="'abbreviationEng'"
        placeholder="영어 약어를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">영어 약어
      </app-nz-input-text>
    </div>
  </div>

  <!-- 4 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <!--설명 필드-->
      <app-nz-input-textarea
        [parentFormGroup]="fg" formControlName="description" [fieldName]="'description'"
        [itemId]="'description'"
        placeholder="설명을 입력해주세요."
        [rows] = "20"
        [required]="false" [nzErrorTip]="errorTpl">설명
      </app-nz-input-textarea>
    </div>

    <div nz-col nzSpan="12">
      <!--설명 필드-->
      <app-nz-input-textarea
        [parentFormGroup]="fg" formControlName="comment" [fieldName]="'comment'"
        [itemId]="'comment'"
        placeholder="비고을 입력해주세요."
        [rows] = "20"
        [required]="false" [nzErrorTip]="errorTpl">비고
      </app-nz-input-textarea>
    </div>
  </div>

</form>

<div class="footer">
  <app-nz-crud-button-group
    [searchVisible]="false"
    [isSavePopupConfirm]="false"
    (closeClick)="closeForm()"
    (saveClick)="submitTerm()"
    (deleteClick)="deleteTerm()">
  </app-nz-crud-button-group>
</div>
