<app-nz-page-header-custom title="직원정보관리" subtitle="This is a subtitle"></app-nz-page-header-custom>

<div nz-row class="btn-group">

  <div nz-col [nzSpan]="24" style="text-align: right;">
    {{selectedStaff | json}}
    <button nz-button (click)="selectGridStaff()">
      <span nz-icon nzType="search" nzTheme="outline"></span>조회
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="newStaff()">
      <span nz-icon nzType="save" nzTheme="outline"></span>신규직원등록
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="newAppoint()">
      <span nz-icon nzType="save" nzTheme="outline"></span>발령등록
    </button>

  </div>
</div>



<div class="app-grid">
  <app-staff-grid
    (rowClickedEvent)="staffGridRowClicked($event)">
  </app-staff-grid>

  <div>
    <app-staff-regist-form [staffId]="selectedStaff?.staffId">
    </app-staff-regist-form>
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'발령'">
        <app-staff-current-appointment-description [staffId]="selectedStaff?.staffId">
        </app-staff-current-appointment-description>
      </nz-collapse-panel>
      <nz-collapse-panel [nzHeader]="'보직'">
        sdfsdf<br>
        fdsasf<br>
        sdfsdf<br>
        fdsasf<br>
        sdfsdf<br>
        fdsasf<br>
        sdfsdf<br>
        fdsasf<br>
      </nz-collapse-panel>
    </nz-collapse>
  </div>


  <div>
    <nz-tabset>
      <nz-tab nzTitle="발령">
        <div class="tab-grid">
          <app-staff-appointment-record-grid
            [staffId]="selectedStaff?.staffId">
          </app-staff-appointment-record-grid>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>

</div>


<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerNewStaff.visible"
  nzTitle="직원 등록"
  (nzOnClose)="drawerNewStaff.visible = false">
    <!-- (formSaved)="getForm(newStaff.selectedRowId)" -->
    <app-new-staff-form *nzDrawerContent
      [initLoadId]="drawerNewStaff.initLoadId"
      (formSaved)="selectGridStaff()"
      (formDeleted)="selectGridStaff()"
      (formClosed)="drawerNewStaff.visible = false">
    </app-new-staff-form>
</nz-drawer>


<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzMaskClosable]="true"
  nzWidth="80%"
  [nzVisible]="drawerAppointment.visible"
  nzTitle="발령 등록"
  (nzOnClose)="drawerAppointment.visible = false">
    <app-staff-appointment-record-form *nzDrawerContent
      [staff]="selectedStaff"
      [initLoadId]="drawerAppointment.initLoadId"
      (formSaved)="selectGridAppointment()"
      (formDeleted)="selectGridAppointment()"
      (formClosed)="drawerAppointment.visible = false">
    </app-staff-appointment-record-form>
</nz-drawer>
