{{fg.getRawValue() | json}} - {{fg.valid}}
<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
      기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-text #typeId
        [parentFormGroup]="fg" formControlName="typeId" itemId="typeId"
        placeholder="구분ID를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">구분ID
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-input-text 
        [parentFormGroup]="fg" formControlName="typeName" itemId="typeName"
        placeholder="구분명을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">구분명
      </app-nz-input-text>      
    </div>    
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">              
    <div nz-col nzSpan="24">
      <app-nz-input-number-custom
        [parentFormGroup]="this.fg" formControlName="sequence" itemId="sequence"
        [required]="true" [nzErrorTip]="errorTpl">출력 순번
      </app-nz-input-number-custom>      
    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <app-nz-input-textarea
        [parentFormGroup]="fg" formControlName="comment" itemId="comment"
        placeholder="설명을 입력해주세요."
        [rows] = "20"
        [required]="false" [nzErrorTip]="errorTpl">설명
      </app-nz-input-textarea>
    </div>
  </div>  
</form>

<div class="footer">  
  <app-nz-crud-button-group    
    [isSavePopupConfirm]="false"
    (searchClick)="get(fg.get('typeId')?.value)"
    (closeClick)="closeForm()"
    (saveClick)="save()"
    (deleteClick)="remove()">
  </app-nz-crud-button-group>
</div>

