<app-nz-page-header-custom title="인사시스템 코드 정보" subtitle="인사시스템 구분 코드 정보 관리"></app-nz-page-header-custom>

<div nz-row class="btn-group">

  <div nz-col [nzSpan]="24" style="text-align: right;">
    <button nz-button (click)="newHrmTypeForm()">
      <span nz-icon nzType="search"></span>
      구분코드등록
    </button>
    <nz-divider nzType="vertical"></nz-divider>

    <button nz-button (click)="newHrmTypeCodeForm()">
      <span nz-icon nzType="form"></span>
      상세코드등록
    </button>
    <nz-divider nzType="vertical"></nz-divider>

    <button nz-button (click)="refreshGridHrmType()">
      <span nz-icon nzType="form"></span>
      조회
    </button>
    <nz-divider nzType="vertical"></nz-divider>
  </div>
</div>

<div class="content">
    <h3 class="pgm-title">구분 코드 목록 {{type | json}}</h3>
    <app-hrm-type-grid #gridHrmType
      (rowSelected)="selectHrmType($event)"
      (rowDoubleClicked)="editHrmType($event)"
      (editButtonClicked)="editHrmType($event)">
    </app-hrm-type-grid>

    <h3 class="pgm-title">상세 코드 목록 {{code | json}}</h3>
    <app-hrm-type-code-grid #gridHrmTypeCode
      (rowSelected)="selectHrmTypeCode($event)"
      (rowDoubleClicked)="editHrmTypeCodeForm($event)"
      (editButtonClicked)="editHrmTypeCodeForm($event)">
    </app-hrm-type-code-grid>
</div>


<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="800"
    [nzVisible]="type.drawerVisible"
    nzTitle="구분코드 등록"
    (nzOnClose)="type.drawerVisible = false">
    <app-hrm-type-form #formHrmType *nzDrawerContent
      [initLoadId]="type.selectedRowId"
      (formSaved)="refreshGridHrmType()"
      (formDeleted)="refreshGridHrmType()"
      (formClosed)="type.drawerVisible = false">
    </app-hrm-type-form>
</nz-drawer>

<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="800"
    [nzVisible]="code.drawerVisible"
    nzTitle="상세코드 등록"
    (nzOnClose)="code.drawerVisible = false">

    <app-hrm-type-code-form #formHrmTypeCode *nzDrawerContent
      [initLoadId]="code.selectedRowId"
      (formSaved)="refreshGridHrmTypeCode()"
      (formDeleted)="refreshGridHrmTypeCode()"
      (formClosed)="code.drawerVisible = false">
    </app-hrm-type-code-form>
</nz-drawer>



