{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

  <!-- ERROR TEMPLATE-->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-text #staffId
        [parentFormGroup]="fg" formControlName="staffId" itemId="staffId"
        placeholder="직원ID를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원ID
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="staffNo" itemId="staffNo"
        placeholder="직원번호를 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">직원번호
      </app-nz-input-text>
    </div>
  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-date
        [parentFormGroup]="this.fg" formControlName="appointmentDate" itemId="appointmentDate"
        [required]="true" [nzErrorTip]="errorTpl">발령일
      </app-nz-input-date>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-input-date
        [parentFormGroup]="this.fg" formControlName="appointmentEndDate" itemId="appointmentEndDate"
        [required]="false" [nzErrorTip]="errorTpl">발령종료일
      </app-nz-input-date>
    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="recordName" itemId="recordName"
        placeholder="발령내용을 입력해주세요."
        [required]="true" [nzErrorTip]="errorTpl">발령내용
      </app-nz-input-text>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-input-text
        [parentFormGroup]="fg" formControlName="comment" itemId="comment"
        placeholder="비고내용을 입력해주세요."
        [required]="false" [nzErrorTip]="errorTpl">비고
      </app-nz-input-text>
    </div>

  </div>

  <!-- 4 row -->
  <div nz-row nzGutter="8">
    <nz-form-item class="form-item">
      <nz-form-label nzFor="blngDeptCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        소속부서
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <app-dept-select formControlName="blngDeptCode">
        </app-dept-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label nzFor="workDeptCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        근무부서
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <app-dept-select formControlName="workDeptCode">
        </app-dept-select>
      </nz-form-control>
    </nz-form-item>

  </div>


  <!-- 5 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <app-nz-select-custom
        [parentFormGroup]="fg" formControlName="jobGroupCode" itemId="jobGroupCode"
        [options]="groupJobCodeList" [opt_value]="'codeName'" [opt_label]="'code'"
        [placeholder]="'Please select'"
        [nzErrorTip]="errorTpl" [required]="true">권한
      </app-nz-select-custom>
    </div>

    <div nz-col nzSpan="12">
      <app-nz-select-custom
        [parentFormGroup]="fg" formControlName="jobPositionCode" itemId="jobPositionCode"
        [options]="jobPositionCodeList" [opt_value]="'codeName'" [opt_label]="'code'"
        [placeholder]="'Please select'"
        [nzErrorTip]="errorTpl" [required]="true">권한
      </app-nz-select-custom>
    </div>
  </div>

  <!-- 6 row-->
  <div nz-row nzGutter="8">
    <nz-form-item class="form-item">
      <nz-form-label nzFor="occupationCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        직종
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <nz-select
          nzShowSearch
          formControlName="occupationCode"

          nzPlaceHolder="Please select">
          <nz-option
              *ngFor="let option of occupationCodeList"
              [nzLabel]="option.codeName + '[' + option.code + ']'"
              [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label nzFor="jobGradeCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        직급
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <nz-select
          nzShowSearch
          formControlName="jobGradeCode"

          nzPlaceHolder="Please select">
          <nz-option
              *ngFor="let option of jobGradeCodeList"
              [nzLabel]="option.codeName + '[' + option.code + ']'"
              [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- 7 row-->
  <div nz-row nzGutter="8">
    <nz-form-item class="form-item">
      <nz-form-label nzFor="payStepCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        호봉
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <nz-select
          nzShowSearch
          formControlName="payStepCode"

          nzPlaceHolder="Please select">
          <nz-option
              *ngFor="let option of payStepCodeList"
              [nzLabel]="option.codeName + '[' + option.code + ']'"
              [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label nzFor="jobCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        직무
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <nz-select
          nzShowSearch
          formControlName="jobCode"

          nzPlaceHolder="Please select">
          <nz-option
              *ngFor="let option of jobCodeList"
              [nzLabel]="option.codeName + '[' + option.code + ']'"
              [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- 8 row-->
  <div nz-row nzGutter="8">
    <nz-form-item class="form-item">
      <nz-form-label nzFor="dutyResponsibilityCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">
        직책
      </nz-form-label>
      <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <nz-select
          nzShowSearch
          formControlName="dutyResponsibilityCode"

          nzPlaceHolder="Please select">
          <nz-option
              *ngFor="let option of dutyResponsibilityCodeList"
              [nzLabel]="option.codeName + '[' + option.code + ']'"
              [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>


  </div>


</form>

<app-nz-crud-button-group
  (searchClick)="getForm(fg.get('staffId')?.value, fg.get('id')?.value)"
  (closeClick)="closeForm(grid)"
  (saveClick)="submitForm()"
  (deleteClick)="deleteForm(fg.get('id')?.value)">
</app-nz-crud-button-group>


<app-staff-appointment-record-grid #grid>

</app-staff-appointment-record-grid>
