/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.dark.min.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
/*@import "~ag-grid-community/dist/styles/ag-theme-alpine-dark.css";*/
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --header-size : 160px;
  --color: black;
  --ck-color-base-foreground: black;
  --ck-color-input-text: black;
}

/*
.ag-theme-balham-dark .ag-header {
  font-family: cursive;
}

.ag-theme-balham-dark .ag-header-cell {
  font-size: 18px;
}
*/
