{{fg.getRawValue() | json}}
{{fg.get('fixedLengthYn')?.value}}
<form nz-form [formGroup]="fg" nzLayout="vertical">
  <!-- 폼 오류 메시지 템플릿 -->
  <ng-template #errorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">
      필수 입력 값입니다.
    </ng-container>
    <ng-container *ngIf="control.hasError('exists')">
      기존 코드가 존재합니다.
    </ng-container>
  </ng-template>

  <!-- 1 row -->
  <div nz-row nzGutter="8">

    <!--공통코드 필드-->
    <div nz-col nzSpan="2">
      <nz-form-item class="form-item">
        <nz-form-label nzFor="id" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">ID</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
          <input nz-input id="id" formControlName="id">
        </nz-form-control>
      </nz-form-item>
    </div>

    <!--시스템구분코드 필드-->
    <div nz-col nzSpan="4">
      <nz-form-item class="form-item">
        <nz-form-label nzFor="systemTypeCode" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">시스템구분코드</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" nzHasFeedback [nzErrorTip]="errorTpl">
          <nz-select formControlName="systemTypeCode"  nzPlaceHolder="시스템구분코드를 선택해주세요.">
            <nz-option *ngFor="let option of systemTypeCodeList" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!--상위 공통코드 필드-->
    <div nz-col nzSpan="8">
      <nz-form-item class="form-item">
        <nz-form-label nzFor="parentId" [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">상위 공통코드</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
          <nz-tree-select
              style="width: 250px"
              [nzNodes]="nodeItems"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Please select"
              formControlName="parentId"
              (ngModelChange)="true">
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>

  <!-- 2 row -->
  <div nz-row nzGutter="8">
    <!--공통코드 필드-->
    <div nz-col nzSpan="8">
      <nz-form-item class="form-item">
        <nz-form-label nzFor="code" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">공통코드</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" nzHasFeedback [nzErrorTip]="errorTpl">
          <input nz-input id="code" formControlName="code" placeholder="공통코드를 입력해주세요.">
        </nz-form-control>
      </nz-form-item>
    </div>

    <!--공통코드명 필드-->
    <div nz-col nzSpan="12">
      <nz-form-item class="form-item">
        <nz-form-label nzFor="codeName" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">공통코드명</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" nzHasFeedback [nzErrorTip]="errorTpl">
          <input nz-input id="codeName" formControlName="codeName" placeholder="공통코드명을 입력해주세요.">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- 3 row -->
  <div nz-row nzGutter="8">

    <div nz-col nzSpan="12">
      <!--공통코드 약어 필드-->
      <nz-form-item class="form-item">
        <nz-form-label nzFor="codeNameAbbreviation" [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">공통코드 약어</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
          <input nz-input id="codeNameAbbreviation" formControlName="codeNameAbbreviation" placeholder="공통코드 약어를 입력해주세요.">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- 4 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="5">
      <!--시작일 필드-->
      <nz-form-item class="form-item">
        <nz-form-label nzFor="fromDate" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">시작일</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" [nzErrorTip]="errorTpl">
          <nz-date-picker id="fromDate" formControlName="fromDate" nzFormat="yyyy-MM-dd"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5">
      <!--종료일 필드-->
      <nz-form-item class="form-item">
        <nz-form-label nzFor="toDate" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">종료일</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" [nzErrorTip]="errorTpl">
          <nz-date-picker id="toDate" formControlName="toDate" nzFormat="yyyy-MM-dd"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- 5 row -->
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="3">
      <!--출력순번 필드-->
      <nz-form-item class="form-item">
        <nz-form-label nzFor="seq" nzRequired [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">출력 순번</nz-form-label>
        <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm" [nzErrorTip]="errorTpl">
          <nz-input-number id="seq" formControlName="seq" [nzMin]="0" [nzMax]="9999" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="3">
      <!--고정길이사용여부 필드-->
      <nz-form-item class="form-item">
          <nz-form-label nzFor="fixedLengthYn" [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">고정 길이 사용여부</nz-form-label>
          <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
              <label id="fixedLengthYn" nz-checkbox formControlName="fixedLengthYn"></label>
          </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="3">
      <!--고정길이 필드-->
      <nz-form-item class="form-item">
          <nz-form-label nzFor="codeLength" [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">고정 길이</nz-form-label>
          <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
              <nz-input-number id="codeLength" formControlName="codeLength" [nzMax]="255" [nzStep]="1" [nzDisabled]="!fg.get('fixedLengthYn')?.value"></nz-input-number>
          </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--설명 필드-->
  <nz-form-item>
    <nz-form-label nzFor="cmt" [nzXs]="defaultLabelSize.xs" [nzSm]="defaultLabelSize.sm">설명</nz-form-label>
    <nz-form-control [nzXs]="defaultControlSize.xs" [nzSm]="defaultControlSize.sm">
        <textarea nz-input id="cmt" formControlName="cmt" placeholder="비고를 입력해주세요." [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
    </nz-form-control>
  </nz-form-item>

</form>

<!--<div class="footer">
    <button
        nz-button
        (click)="closeForm()">
        <i nz-icon type="form" nzTheme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="primary"
        nz-popconfirm
        nzTitle="저장하시겠습니까?"
        (nzOnConfirm)="submitCommonCode()"
        (nzOnCancel)="false">
        <i nz-icon type="save" nzTheme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzDanger
        nz-popconfirm
        nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteCommonCode()"
        (nzOnCancel)="false">
        <i nz-icon type="delete" nzTheme="outline"></i>
        삭제
    </button>

</div>
-->
